<div class="container">
  <div class="row  mb-5 mt-3">
    <h1>Bienvenidos</h1>
  </div>
  <div class="row">
    <mat-card class="col-6">
      <div class="row mb-1">
        <h2>Tornillos</h2>
      </div>
      <div class="row mb-1">
        <p>100 por revisar</p>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <button mat-button>
            <mat-icon>remove_red_eye</mat-icon> Revisar
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
