<h1 mat-dialog-title>logging</h1>
<div mat-dialog-content>
  <form [formGroup]="loggingForm" (ngSubmit)="onOkClick()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" formControlName="username" class="form-control" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" class="form-control" />
    </div>  
    <div class="form-group" mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button mat-button type="submit" (click)="onOkClick()">logging</button>
      <!-- <span  class="spinner-border spinner-border-sm mr-1"></span> -->
    </div>
  </form>
</div>
